@bootstrap-base: "../node_modules/bootstrap/less/";

// Core variables and mixins
@import "@{bootstrap-base}variables.less";
@import "frone-variables.less";

@import "@{bootstrap-base}mixins.less";
@import "frone-mixins.less";

body#tinymce.wp-editor { 
  font-family: @font-family-base;
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @text-color;
  background-color: @body-bg;

  a {
    color: @link-color;
    text-decoration: none;

    &:hover,
    &:focus {
      color: @link-hover-color;
      text-decoration: @link-hover-decoration;
    }

    &:focus {
      .tab-focus();
    }
  }

  hr {
    margin-top:    @line-height-computed;
    margin-bottom: @line-height-computed;
    border: 0;
    border-top: 1px solid @hr-border;
  }

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: @headings-font-family;
    font-weight: @headings-font-weight;
    line-height: @headings-line-height;
    color: @headings-color;

    small,
    .small {
      font-weight: normal;
      line-height: 1;
      color: @headings-small-color;
    }
  }

  h1, .h1,
  h2, .h2,
  h3, .h3 {
    margin-top: @line-height-computed;
    margin-bottom: (@line-height-computed / 2);

    small,
    .small {
      font-size: 65%;
    }
  }
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    margin-top: (@line-height-computed / 2);
    margin-bottom: (@line-height-computed / 2);

    small,
    .small {
      font-size: 75%;
    }
  }

  h1, .h1 { font-size: @font-size-h1; }
  h2, .h2 { font-size: @font-size-h2; }
  h3, .h3 { font-size: @font-size-h3; }
  h4, .h4 { font-size: @font-size-h4; }
  h5, .h5 { font-size: @font-size-h5; }
  h6, .h6 { font-size: @font-size-h6; }


  // Body text
  // -------------------------

  p {
    margin: 0 0 (@line-height-computed / 2);
  }

  // Lists
  // -------------------------

  // Unordered and Ordered lists
  ul,
  ol {
    margin-top: 0;
    margin-bottom: (@line-height-computed / 2);
    ul,
    ol {
      margin-bottom: 0;
    }
  }

  // Blockquotes
  blockquote {
    padding: (@line-height-computed / 2) @line-height-computed;
    margin: 0 0 @line-height-computed;
    font-size: @blockquote-font-size;
    border-left: 5px solid @blockquote-border-color;

    p,
    ul,
    ol {
      &:last-child {
        margin-bottom: 0;
      }
    }

    // Note: Deprecated small and .small as of v3.1.0
    // Context: https://github.com/twbs/bootstrap/issues/11660
    footer,
    small,
    .small {
      display: block;
      font-size: 80%; // back to default font-size
      line-height: @line-height-base;
      color: @blockquote-small-color;

      &:before {
        content: '\2014 \00A0'; // em dash, nbsp
      }
    }
  }

  // Addresses
  address {
    margin-bottom: @line-height-computed;
    font-style: normal;
    line-height: @line-height-base;
  }

  .alignleft {
    float: left;
    margin:0 15px 30px 0;
  }
  .aligncenter {
    display: block;
    margin: 0 auto 30px auto;
  }
  .alignright {
    float: right;
    margin:0 0 30px 15px;
  }
  .alignnone {
    float: none;
    display:block;
    margin:0 0 30px 0;
  }
  .size-full {
    width:100%;
    height:auto;
    margin:0 0 30px 0;
  }
  p .alignleft {
    float: left;
    margin:5px 15px 30px 0;
  }
  p .aligncenter {
    display: block;
    margin: 5px auto 30px auto;
  }
  p .alignright {
    float: right;
    margin:5px 0 30px 15px;
  }
  p .alignnone {
    float: none;
    display:block;
    margin:5px 0 30px 0;
  }
  p .size-full {
    width:100%;
    height:auto;
    margin:5px 0 30px 0;
  }
  
}