.wp-caption,
.wp-caption-text,
.sticky,
.gallery-caption,
.bypostauthor,
.alignright,
.alignleft,
.aligncenter {
  outline: 0;
}

// responsive image
img {
  max-width: 100%;
  height: auto;
}

figure {
  max-width: 100%;
}