//@font-family-sans-serif:  "Roboto", sans-serif;
//@font-family-serif:       "Roboto Slab", serif;

//@headings-font-family: @font-family-serif;
//@headings-font-weight: 700;


//Menu
@frone-sub-menu-text-color: #828c8e;
@frone-sub-menu-hover-color: #ebebeb;
@frone-menu-has-child-icon: "arrow_drop_down";
@frone-mobile-menu-text-color: #3d4040;
@frone-menu-seperator-color: #ebeef2;

@admin-bar-breakpoint: 782px;