/*
Adding support for languages written in a Right To Left (RTL) direction is easy,
it's just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.

https://codex.wordpress.org/Right-to-Left_Language_Support
*/
@bootstrap-base: "../node_modules/bootstrap/less/";

// Core variables and mixins
@import "@{bootstrap-base}variables.less";
@import "frone-variables.less";

@import "@{bootstrap-base}mixins.less";
@import "frone-mixins.less";

/* Reset */

body {
  direction: rtl;
  unicode-bidi: embed;
}

th {
  text-align: right;
}

/* Accessibility */
.screen-reader-text:focus {
  left: auto;
  right: 5px;
}

#logo {
  float: right;

  @media (max-width: @screen-md-max) {
    margin-right: 0;
    margin-left: 30px;
  }
}

// Main Menu
.frone-nav-container {
  float: right;
}

.frone-nav {

  > li.menu-item {
    float: right;
  }

  &.menu-item-has-children > a:after {
    padding-left: auto;
    padding-right: 3px;
  }

  .sub-menu {
    .sub-menu {
      left: auto;
      right: 100%;
    }

    li.menu-item {
      &.menu-item-has-children{
        > a:after {
          content: @frone-menu-has-child-icon;
          left: 1rem;
          right: auto;
          transform: rotate(90deg);
        }
      }
    }
  }

  .frone-menu-icon {
    margin-right: auto;
    margin-left: 0.5rem;
  }
 
}

.frone-mobile-sidemenu {
  float: right;
}

.frone-mobile-menu-btn {
  margin-right: -1rem;
  margin-left: 1rem;
}

.frone-mobile-nav-container {
  margin-right: -32rem;
  margin-left: 0;
  
  .mobile-menu-passive & {
    margin-right: 0;
    -webkit-animation-name: froneMenufadeOutRight;
    animation-name: froneMenufadeOutRight;
  }

  .mobile-menu-active & {
    margin-right: 0;
    -webkit-animation-name: froneMenufadeInRight;
    animation-name: froneMenufadeInRight;
  }
}

.frone-mobile-nav {

  li.menu-item {
    &.menu-item-has-children {
      > a {
        padding-right: 2rem;
        padding-left: 5.2rem;
      }
    }

    .mobile-sub-menu-btn {
      right: auto;
      left: 0;
    }
  }

  .frone-menu-icon {
    margin-left: 2.2rem;
    margin-right: 0;
  }
}

@import "header/menu-effect";