/**
 * Form Controls
 */
.ts-form-field input[type="text"],
.ts-form-field input[type="email"],
.ts-form-field input[type="url"] {
  width: 25em;
}
.ts-form-field textarea {
  width: 99%;
  min-height: 120px;
  padding: 4px 6px 1px;
  line-height: 1.4;
}
.ts-form-field input,
.ts-form-field textarea {
  max-width: 100%;
}
.ts-form-field select {
  min-width: 15em;
}
.ts-form-field.type-radio label {
  line-height: 32px;
}
.ts-form-field.type-radio label:before,
.ts-form-field.type-radio label:after {
  display: table;
  content: " ";
}
.ts-form-field.type-radio label:after {
  clear: both;
}
/* Switch Control */
.ts-switch {
  position: relative;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border: none;
  border-radius: 1000px;
  outline: 0;
}
.ts-switch label {
  position: relative;
  display: block;
  width: 3rem;
  height: 1.5rem;
  margin-bottom: 1rem;
  color: transparent;
  text-indent: 100%;
  cursor: pointer;
  background: #ccc;
  border-radius: 2rem;
  transition: left .15s ease-out;
}
.ts-switch label:after {
  position: absolute;
  top: .25rem;
  left: .25rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background: #fff;
  border-radius: 2rem;
  -webkit-transition: left .15s ease-out;
     -moz-transition: left .15s ease-out;
       -o-transition: translate3d(0, 0, 0);
          transition: left .15s ease-out;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.ts-switch input {
  position: absolute;
  top: 9px;
  left: 10px;
  padding: 0;
  opacity: 0;
}
.ts-switch input + label {
  margin-right: 0;
  margin-left: 0;
}
.ts-switch input:checked + label {
  background: #2ba6cb;
}
.ts-switch input:checked + label:after {
  left: 1.75rem;
}
/* Image Switch Control */
.ts-image-switch {
  position: relative;
  display: inline-block;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border: none;
  outline: 0;
}
.ts-image-switch label {
  position: relative;
  display: inline-block;
  padding: 4px;
  margin-right: 4px;
  margin-bottom: 1rem;
  color: transparent;
  cursor: pointer;
  background: #ccc;
}
.ts-image-switch label img {
  min-width: 80px;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.ts-image-switch input {
  position: absolute;
  top: 9px;
  left: 10px;
  padding: 0;
  opacity: 0;
}
.ts-image-switch input:checked + label {
  background: #2ba6cb;
}
/*Group Controls*/
.ts-multi-group {
  margin-bottom: 10px;
}
.ts-single-group {
  margin-bottom: 4px;
}
.ts-single-group-content {
  display: none;
  padding: 10px 15px 15px;
  border-color: #dfdfdf;
  border-style: solid;
  border-width: 0 1px 1px 1px;
}
.ts-group-title {
  position: relative;
  padding: 10px;
  font-weight: bold;
  cursor: move;
  background-color: #fafafa;
  border: 1px solid #dfdfdf;
}
.ts-group-title:after {
  position: absolute;
  top: 50%;
  right: 7px;
  margin-top: -7px;
  font-family: 'dashicons';
  font-size: 14px;
  line-height: 14px;
  color: #999;
  content: "\f140";
}
.ts-group-title.active-toggle:after {
  content: "\f142";
}
.ts-group-title:hover {
  border-color: #aaa;
}
.ts-group-remove-btn {
  display: inline-block;
  margin-top: 10px;
  color: red;
  text-decoration: none;
}
.ts-group-remove-btn:hover {
  color: red;
  text-decoration: underline;
}
/**
 * Meta Tabs
 */
ul.ts-meta-tabs {
  padding: 0;
  margin: 15px 5px 0 0;
  list-style: none;
}
li.ts-meta-tab-link {
  display: inline-block;
  padding: 0;
  margin: 0;
  cursor: pointer;
  border: 1px solid transparent;
}
li.ts-meta-tab-link a {
  display: inline-block;
  padding: 8px 12px 10px;
  font-weight: bold;
  text-decoration: none;
}
li.ts-meta-tab-link.current-tab {
  background-color: #fdfdfd;
  border: 1px solid #dfdfdf;
  border-bottom-color: #fdfdfd;
}
li.ts-meta-tab-link.current-tab a {
  color: #333;
}
.ts-meta-tabs-content {
  padding: 5px 12px 18px;
  margin-top: -1px;
  border: 1px solid #dfdfdf;
}
.ts-meta-tabs-content.ts-meta-tab-single {
  padding: 0;
  margin-top: 0;
  border: 0;
}
.ts-meta-tabs-content .ts-meta-tab {
  display: none;
}
/**
 * Framework Style
 */
.ts-fw-header {
  position: relative;
  margin-top: 30px;
  background-color: #fff;
}
.ts-fw-header:before,
.ts-fw-header:after {
  display: table;
  content: " ";
}
.ts-fw-header:after {
  clear: both;
}
.ts-fw-header .ts-fw-logo {
  float: left;
  width: 100%;
  max-width: 260px;
  background-color: #f8f8f8;
}
.ts-fw-header .ts-fw-logo img {
  width: auto;
  max-height: 80px;
  vertical-align: top;
}
.ts-fw-header .ts-fw-heading {
  float: left;
  padding: 0;
  margin: 30px 20px;
  font-size: 18px;
  line-height: 1em;
}
.ts-fw-header .ts-option-button {
  position: absolute;
  top: 50%;
  right: 20px;
  height: 36px !important;
  padding: 0 15px !important;
  margin-top: -20px;
  font-weight: bold;
  line-height: 36px !important;
  text-transform: uppercase;
  background: #333;
  border-width: 0;
  border-radius: 0;
}
.ts-fw-header .ts-option-button:hover {
  background: #1a1a1a;
}
.ts-fw-content {
  position: relative;
}
.ts-fw-content:before,
.ts-fw-content:after {
  display: table;
  content: " ";
}
.ts-fw-content:after {
  clear: both;
}
/*menu*/
.ts-framework-menu {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 260px;
  padding: 0;
  margin: 0;
}
.ts-fw-tabs {
  position: relative;
  min-height: 300px;
  padding: 3px 20px 14px;
  margin-left: 260px;
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, .05);
}
.ts-fw-tabs:before,
.ts-fw-tabs:after {
  display: table;
  content: " ";
}
.ts-fw-tabs:after {
  clear: both;
}
.ts-fw-tab {
  display: none;
}
.ts-fw-main-tab {
  margin: 0;
  border-color: #3b3b3b;
  border-style: solid;
  border-width: 0 0 1px;
}
.ts-fw-main-tab.ts-fw-single-tab.current-tab > span {
  background-color: #1a1a1a;
}
.ts-fw-main-tab.ts-fw-single-tab > span:after {
  content: '' !important;
}
.ts-fw-main-tab.ts-fw-single-tab ul {
  display: none !important;
}
.ts-fw-main-tab > span {
  position: relative;
  display: block;
  padding: 16px;
  color: #f1f1f3;
  cursor: pointer;
  background-color: #333;
}
.ts-fw-main-tab > span:after {
  position: absolute;
  top: 50%;
  right: 13px;
  margin-top: -4px;
  font-family: 'dashicons';
  font-size: 11px;
  line-height: 1em;
  content: "\f345";
  opacity: .7;
}
.ts-fw-main-tab > span:hover {
  color: #fff;
}
.ts-fw-main-tab.current-tab > span:after {
  content: "\f347";
}
.ts-fw-main-tab ul {
  display: none;
  padding: 0;
  margin: 0;
}
.ts-fw-main-tab li {
  margin: 0;
}
.ts-fw-sub-tab {
  display: block;
  padding: 8px 16px 8px 22px;
  color: #f1f1f3;
  cursor: pointer;
  background-color: #1a1a1a;
  border-color: #333;
  border-style: solid;
  border-width: 0 0 1px;
}
.ts-fw-sub-tab.current-tab {
  color: #fff;
  background-color: #000;
}
.ts-fw-sub-tab:last-child {
  border-width: 0;
}
.ts-fw-sub-tab:hover {
  color: #fff;
}
@media screen and (max-width: 768px) {
  .ts-framework-menu {
    position: relative;
    max-width: 100%;
  }
  .ts-fw-tabs {
    margin-left: 0;
  }
  .ts-fw-header .ts-fw-heading {
    display: none;
  }
  .ts-fw-header .ts-fw-logo {
    float: none;
    width: auto;
    max-width: 100%;
    margin-right: 177px;
  }
}

#setting-error-ts-notice{display: none;}

.ts-framework-notice {
  float: left;
  margin: 21px 0 !important;
}
.ts-framework-notice:before,
.ts-framework-notice:after {
  content: " ";
  display: table; 
}
.ts-framework-notice:after {
  clear: both;
}
.ts-extra-menu-settings {
  padding:20px 11px 20px 10px; 
  margin-left: -10px !important; 
  background-color: #f2f2f2;
}
.ts-full-width-select {
  width: 100%;
}

.menu-item-depth-0 .field-mega-menu-seperator {
  display: none;
}
.menu-item-depth-0 .ts-mega-menu-mobile .field-mega-menu-seperator,
.menu-item-depth-0 .field-mega-menu-size {
  display: block !important;
}