.frone-extra-nav-container {
  float: right;
  margin-left: 3rem;
  margin-right: 3rem;
}

.frone-extra-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.frone-extra-menu-item {
  color: #fff;
  min-width: 4.4rem;
  height: 4.4rem;
  line-height: 4.4rem;
  text-align: center;
  display: inline-block;
  position: relative;

  > a {
    color: #fff;
    display: inline-block;

    &:focus,
    &:hover {
      text-decoration: none;
    }
  }

  .badge {
    position: absolute;
    right: 0;
    bottom: 2px;
    width: 1.8rem;
    height: 1.8rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0; 
  }
}