#header {
  padding: 3rem 0;
  background-color: #298fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  .transition(top .3s ease);

  .admin-bar & {
    top: 32px;
  }

  @media (max-width: @screen-sm-max) {
    padding: 1rem 0;
  }

  @media (max-width: @admin-bar-breakpoint) {
    .admin-bar & {
      top: 46px;
    }
  }

  &.sticky-header {
    top: 0 !important;

    .admin-bar & {
      top: 32px !important;

      @media (max-width: @screen-xs-max) {
        top: 0 !important;
      }

      @media (min-width: @screen-xs-max) and (max-width: @admin-bar-breakpoint) {
        top: 46px !important;
      }
    }
  }
}

#logo {
  float: left;
  margin-left: 3rem;
  margin-right: 3rem;

  @media (max-width: @screen-md-max) {
    margin-left: 0;
  }

  h1 {
    font-size: 2.4rem;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 4.4rem;
    text-transform: uppercase;
  }

  .md-icon {
    font-size: 3.6rem;
    margin: -.6rem 0 0;
  }

  a {
    display: block;
    color: #fff;

    &:focus,
    &:hover {
      text-decoration: none;
    }
  }

  .default-colored-logo & {
    .white-logo {
      display: none;
    }

    .colored-logo {
      display: block;
    }
  }

  .white2x-logo,
  .colored2x-logo,
  .colored-logo {
    display: none;
  }
}

// Retina logo
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .retina-white-logo {
    #logo {
      .colored-logo,
      .colored2x-logo,
      .white-logo {
        display: none;
      }

      .white2x-logo {
        display: block;
      }
    }
  }

  .retina-colored-logo {
    &.default-colored-logo {
      #logo {
        .white-logo,
        .white2x-logo,
        .colored-logo {
          display: none;
        }

        .colored2x-logo {
          display: block;
        }
      }
    }
  }
}