// Frone Navigation
.frone-nav-container {
  float: left;

  @media (max-width: @screen-sm-max) {
    display: none;
  }

  .touchable-device & {
    display: none;
  }
}

.frone-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  .clearfix();

  &:hover {
    overflow: visible;

    .frone-mega-menu.mega-col-full > .sub-menu {
      position: fixed;
      left: 3rem;
      right: 3rem;
      width: auto !important;

      @media (max-width: @screen-md-max) {
        left: 1.5rem;
        right: 1.5rem;
      }
    }
  }

  // All items - general
  li.menu-item {
    > a {
      position: relative;
      display: block;
      white-space: nowrap;
      padding: 0.8rem 2rem;
      color: @frone-sub-menu-text-color;
      font-size: 1.3rem;
      max-width: 36rem;
      overflow: hidden;
      text-overflow: ellipsis;
      
      &:focus,
      &:hover {
        text-decoration: none;
      }
    }

    &:hover > .sub-menu {
      -webkit-animation-name: froneMenufadeIn;
      animation-name: froneMenufadeIn;
      visibility: visible;
    }
  }

  // First Level
  > li.menu-item {
    position: relative;
    float: left;

    > a {
      padding: 1.2rem;
      font-weight: 700;
      font-size: inherit;
      color: #fff;
      .transition(opacity .2s ease);
    }

    &.menu-item-has-children{
      > a:after {
        content: @frone-menu-has-child-icon;
        font-size: inherit;
        padding-left: 3px;
        vertical-align: middle;
        max-width: 2.4rem;
      }

    }

    &:hover,
    &.current-menu-ancestor,
    &.current-menu-parent,
    &.current-menu-item {
      > a {
        opacity: 0.7;
      }
    }

  }

  // Sub menu
  .sub-menu {
    position: absolute;
    margin: 0;
    padding: 1.5rem 0;
    list-style: none;
    background-color: #fff;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    min-width: 18rem;
    z-index: 9999;
    border-radius: 3px;

    -webkit-animation-name: froneMenufadeOut;
      animation-name: froneMenufadeOut;
      .z-depth();

    li.menu-item {
      
      &.menu-item-has-children{
        > a:after {
          content: @frone-menu-has-child-icon;
          font-size: inherit;
          position: absolute;
          right: 1rem;
          top: 50%;
          margin-top: -.6rem;
          transform: rotate(-90deg);
        }

      }

      a {
        .transition(background-color .2s ease);
      }

      &:hover,
      &.current-menu-ancestor,
      &.current-menu-parent,
      &.current-menu-item{
        > a {
          background-color: @frone-sub-menu-hover-color;
        }
      }

    }

    .sub-menu {
      left: 100%;
      margin-top: -3.4rem;
      margin-left: -0.3rem;
    }

    .seperate-after-menu-item {
      margin-bottom: 0.5rem;
      border-bottom: 1px solid @frone-menu-seperator-color;

      &:after {
        content: "";
        display: block;
        height: 0.5rem;
      }
    }
  }

  // Mega Menu
  .frone-mega-menu {

    > .sub-menu {
      width: auto;

      li.menu-item {

        &.menu-item-has-children{
          > a:after {
            content: none;
          }
        }
        
      }

      > li.menu-item {
        display: table-cell;

        > a {
          font-size: 1.4rem;
          font-weight: 700;
          background-color: transparent !important;
        }

        .sub-menu {
          position: relative;
          left: auto;
          top: auto;
          right: auto;
          display: block;
          opacity: 1;
          -webkit-animation-name: none;
          animation-name: none;
          margin: 0;
          padding: 0;
          box-shadow: none;
        }

      }
    }

    //mega columns
    &.mega-col-full > .sub-menu {
      //position: fixed;
      //left: 3rem;
      //right: 3rem;
      //width: auto !important;

      > li.menu-item {
        display: block;
        float: left;
        width: 20%;
      }

    }

    &.mega-col-full .sub-menu > li.menu-item > a {
      max-width: 100%;
    }

    &.mega-col-2 > .sub-menu {
      width: 48rem;

      > li.menu-item {
        display: block;
        float: left;
        width: 50%;
      }

    }

    &.mega-col-3 > .sub-menu {
      width: 72rem;

      > li.menu-item {
        display: block;
        float: left;
        width: 33.333%;
      }

    }

    &.mega-col-4 > .sub-menu {
      width: 96rem;

      > li.menu-item {
        display: block;
        float: left;
        width: 25%;
      }

    }

  }

  .frone-menu-icon {
    font-size: 2.1rem;
    margin-top: -0.5rem;
    margin-right: 0.5rem;
  }

}