.mobile-menu-active {
  overflow: hidden;
}

//Frone Mobile Side Menu
.frone-mobile-sidemenu {
  float: left;
  position: relative;
  display: none;

  @media (max-width: @screen-sm-max) {
    display: block;
  }

  .touchable-device & {
    display: block;
  }
}

.frone-mobile-menu-btn {
  color: #fff;
  width: 4.4rem;
  height: 4.4rem;
  line-height: 4.4rem;
  border-radius: 4.4rem;
  text-align: center;
  margin-right: 1rem;
  margin-left: -1rem;
  display: block;

  &:focus,
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.frone-mobile-nav-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  display: none;
  max-width: 32rem;
  margin-left: -32rem;
  overflow: auto;
  background-color: #fff;
  z-index: 2;
  .z-depth(4);

  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  .mobile-menu-passive & {
    display: block;
    margin-left: 0;
    -webkit-animation-name: froneMenufadeOutLeft;
    animation-name: froneMenufadeOutLeft;
  }

  .mobile-menu-active & {
    display: block;
    margin-left: 0;
    -webkit-animation-name: froneMenufadeInLeft;
    animation-name: froneMenufadeInLeft;
  }

  .admin-bar & {
    top: 32px;
  }

  //for iphone 5
  @media (max-width: 320px) {
    max-width: 24rem;
  }

  @media (max-width: @screen-xs-max) {
    .admin-bar & {
      top: 46px;
    }
  }

  //for ipad
  @media (min-width: @screen-xs-max) and (max-width: @admin-bar-breakpoint) {
    .admin-bar & {
      top: 46px;
    }
  }
}

.frone-mobile-nav {
  padding: 1.5rem 0;
  list-style: none;

  // all levels
  li.menu-item {
    position: relative;

    &.menu-item-has-children > a {
      padding-right: 5.2rem; 
    }

    &:hover,
    &.current-menu-ancestor,
    &.current-menu-parent,
    &.current-menu-item{
      > a {
        background-color: @frone-sub-menu-hover-color;
      }
    }

    > a {
      display: block;
      padding: 0.8rem 2rem;
      color: @frone-sub-menu-text-color;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    .mobile-sub-menu-btn {
      position: absolute;
      top:0;
      right: 0;
      width: 3.6rem;
      height: 3.6rem;
      line-height: 3.6rem;
      border-radius: 3.6rem;
      margin: 0 0.4rem;
      opacity: 0.4;
      text-align: center;
      font-size: inherit;
      cursor: pointer;
    }
  }

  // first level
  > li.menu-item {

    > a {
      padding: 1.2rem 2rem;
      color: @frone-mobile-menu-text-color;
    }

    > .mobile-sub-menu-btn {
      margin: 0.4rem;
    }
  }

  .sub-menu {
    display: none;
    background-color: #f8f8f8;
    margin: 0;
    padding: 1.5rem 0;
    list-style: none;

    .sub-menu {
      background-color: #f2f2f2;
      margin: 1rem 0;
    }
  }

  .seperate-after-menu-item {
    margin-bottom: 0.5rem;
    border-bottom: 1px solid @frone-menu-seperator-color;

    &:after {
      content: "";
      display: block;
      height: 0.5rem;
    }
  }

  .frone-menu-icon {
    font-size: 2.2rem;
    margin-top: -0.4rem;
    margin-right: 2rem;
    opacity: .7;
  }

}

.admin-bar .sticky-header .frone-mobile-nav-container {
  @media (max-width: @screen-xs-max) {
    top: 0;
  }
}

.frone-mobile-nav-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  z-index: 1;
  display: none;

  .mobile-menu-active & {
    display: block;
  }
}