/*!
 * Frone Theme v1.0 https://frone.themesama.com
 * Copyright 2017 Themesama
 */

body#tinymce.wp-editor {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
body#tinymce.wp-editor a {
  color: #337ab7;
  text-decoration: none;
}
body#tinymce.wp-editor a:hover,
body#tinymce.wp-editor a:focus {
  color: #23527c;
  text-decoration: underline;
}
body#tinymce.wp-editor a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
body#tinymce.wp-editor hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}
body#tinymce.wp-editor h1,
body#tinymce.wp-editor h2,
body#tinymce.wp-editor h3,
body#tinymce.wp-editor h4,
body#tinymce.wp-editor h5,
body#tinymce.wp-editor h6,
body#tinymce.wp-editor .h1,
body#tinymce.wp-editor .h2,
body#tinymce.wp-editor .h3,
body#tinymce.wp-editor .h4,
body#tinymce.wp-editor .h5,
body#tinymce.wp-editor .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
body#tinymce.wp-editor h1 small,
body#tinymce.wp-editor h2 small,
body#tinymce.wp-editor h3 small,
body#tinymce.wp-editor h4 small,
body#tinymce.wp-editor h5 small,
body#tinymce.wp-editor h6 small,
body#tinymce.wp-editor .h1 small,
body#tinymce.wp-editor .h2 small,
body#tinymce.wp-editor .h3 small,
body#tinymce.wp-editor .h4 small,
body#tinymce.wp-editor .h5 small,
body#tinymce.wp-editor .h6 small,
body#tinymce.wp-editor h1 .small,
body#tinymce.wp-editor h2 .small,
body#tinymce.wp-editor h3 .small,
body#tinymce.wp-editor h4 .small,
body#tinymce.wp-editor h5 .small,
body#tinymce.wp-editor h6 .small,
body#tinymce.wp-editor .h1 .small,
body#tinymce.wp-editor .h2 .small,
body#tinymce.wp-editor .h3 .small,
body#tinymce.wp-editor .h4 .small,
body#tinymce.wp-editor .h5 .small,
body#tinymce.wp-editor .h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777;
}
body#tinymce.wp-editor h1,
body#tinymce.wp-editor .h1,
body#tinymce.wp-editor h2,
body#tinymce.wp-editor .h2,
body#tinymce.wp-editor h3,
body#tinymce.wp-editor .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
body#tinymce.wp-editor h1 small,
body#tinymce.wp-editor .h1 small,
body#tinymce.wp-editor h2 small,
body#tinymce.wp-editor .h2 small,
body#tinymce.wp-editor h3 small,
body#tinymce.wp-editor .h3 small,
body#tinymce.wp-editor h1 .small,
body#tinymce.wp-editor .h1 .small,
body#tinymce.wp-editor h2 .small,
body#tinymce.wp-editor .h2 .small,
body#tinymce.wp-editor h3 .small,
body#tinymce.wp-editor .h3 .small {
  font-size: 65%;
}
body#tinymce.wp-editor h4,
body#tinymce.wp-editor .h4,
body#tinymce.wp-editor h5,
body#tinymce.wp-editor .h5,
body#tinymce.wp-editor h6,
body#tinymce.wp-editor .h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
body#tinymce.wp-editor h4 small,
body#tinymce.wp-editor .h4 small,
body#tinymce.wp-editor h5 small,
body#tinymce.wp-editor .h5 small,
body#tinymce.wp-editor h6 small,
body#tinymce.wp-editor .h6 small,
body#tinymce.wp-editor h4 .small,
body#tinymce.wp-editor .h4 .small,
body#tinymce.wp-editor h5 .small,
body#tinymce.wp-editor .h5 .small,
body#tinymce.wp-editor h6 .small,
body#tinymce.wp-editor .h6 .small {
  font-size: 75%;
}
body#tinymce.wp-editor h1,
body#tinymce.wp-editor .h1 {
  font-size: 36px;
}
body#tinymce.wp-editor h2,
body#tinymce.wp-editor .h2 {
  font-size: 30px;
}
body#tinymce.wp-editor h3,
body#tinymce.wp-editor .h3 {
  font-size: 24px;
}
body#tinymce.wp-editor h4,
body#tinymce.wp-editor .h4 {
  font-size: 18px;
}
body#tinymce.wp-editor h5,
body#tinymce.wp-editor .h5 {
  font-size: 14px;
}
body#tinymce.wp-editor h6,
body#tinymce.wp-editor .h6 {
  font-size: 12px;
}
body#tinymce.wp-editor p {
  margin: 0 0 10px;
}
body#tinymce.wp-editor ul,
body#tinymce.wp-editor ol {
  margin-top: 0;
  margin-bottom: 10px;
}
body#tinymce.wp-editor ul ul,
body#tinymce.wp-editor ol ul,
body#tinymce.wp-editor ul ol,
body#tinymce.wp-editor ol ol {
  margin-bottom: 0;
}
body#tinymce.wp-editor blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
}
body#tinymce.wp-editor blockquote p:last-child,
body#tinymce.wp-editor blockquote ul:last-child,
body#tinymce.wp-editor blockquote ol:last-child {
  margin-bottom: 0;
}
body#tinymce.wp-editor blockquote footer,
body#tinymce.wp-editor blockquote small,
body#tinymce.wp-editor blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #777;
}
body#tinymce.wp-editor blockquote footer:before,
body#tinymce.wp-editor blockquote small:before,
body#tinymce.wp-editor blockquote .small:before {
  content: '\2014 \00A0';
}
body#tinymce.wp-editor address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143;
}
body#tinymce.wp-editor .alignleft {
  float: left;
  margin: 0 15px 30px 0;
}
body#tinymce.wp-editor .aligncenter {
  display: block;
  margin: 0 auto 30px auto;
}
body#tinymce.wp-editor .alignright {
  float: right;
  margin: 0 0 30px 15px;
}
body#tinymce.wp-editor .alignnone {
  display: block;
  float: none;
  margin: 0 0 30px 0;
}
body#tinymce.wp-editor .size-full {
  width: 100%;
  height: auto;
  margin: 0 0 30px 0;
}
body#tinymce.wp-editor p .alignleft {
  float: left;
  margin: 5px 15px 30px 0;
}
body#tinymce.wp-editor p .aligncenter {
  display: block;
  margin: 5px auto 30px auto;
}
body#tinymce.wp-editor p .alignright {
  float: right;
  margin: 5px 0 30px 15px;
}
body#tinymce.wp-editor p .alignnone {
  display: block;
  float: none;
  margin: 5px 0 30px 0;
}
body#tinymce.wp-editor p .size-full {
  width: 100%;
  height: auto;
  margin: 5px 0 30px 0;
}
