/*!
 * Frone Theme v1.0.0 https://frone.themesama.com
 * Copyright 2017 Themesama
 */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset and dependencies
   1.1 Normalize
   1.2 Print
2.0 Core
   2.1 Scaffolding
   2.2 Typography
   2.3 Code
   2.4 Grid
   2.5 Tables
   2.6 Forms
   2.7 Buttons
3.0 Components
   3.1 Breadcrumbs
   3.2 Thumbnails
   3.3 Alerts
   3.4 Responsive Embed
4.0 Components w/ JavaScript
   4.1 Modals
   4.2 Tooltips
5.0 Utilities
--------------------------------------------------------------*/
/**
 * Reset and dependencies
 *
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  margin: .67em 0;
  font-size: 2em;
}
mark {
  color: #000;
  background: #ff0;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -.5em;
}
sub {
  bottom: -.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  height: 0;
  box-sizing: content-box;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}
legend {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print {
  *,
  *:before,
  *:after {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;

    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .navbar {
    display: none;
  }
  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }
  .label {
    border: 1px solid #000;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
}
/**
 * Core
 *
 */
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 10px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive,
.ts-thumbnail > img,
.ts-thumbnail a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: all .2s ease-in-out;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[role="button"] {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 36px;
}
h2,
.h2 {
  font-size: 30px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}
p {
  margin: 0 0 10px;
}
.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}
small,
.small {
  font-size: 85%;
}
mark,
.mark {
  padding: .2em;
  background-color: #fcf8e3;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-muted {
  color: #777;
}
.text-primary {
  color: #337ab7;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #286090;
}
.text-success {
  color: #3c763d;
}
a.text-success:hover,
a.text-success:focus {
  color: #2b542c;
}
.text-info {
  color: #31708f;
}
a.text-info:hover,
a.text-info:focus {
  color: #245269;
}
.text-warning {
  color: #8a6d3b;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #66512c;
}
.text-danger {
  color: #a94442;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #843534;
}
.bg-primary {
  color: #fff;
  background-color: #337ab7;
}
a.bg-primary:hover,
a.bg-primary:focus {
  background-color: #286090;
}
.bg-success {
  background-color: #dff0d8;
}
a.bg-success:hover,
a.bg-success:focus {
  background-color: #c1e2b3;
}
.bg-info {
  background-color: #d9edf7;
}
a.bg-info:hover,
a.bg-info:focus {
  background-color: #afd9ee;
}
.bg-warning {
  background-color: #fcf8e3;
}
a.bg-warning:hover,
a.bg-warning:focus {
  background-color: #f7ecb5;
}
.bg-danger {
  background-color: #f2dede;
}
a.bg-danger:hover,
a.bg-danger:focus {
  background-color: #e4b9b9;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 1.42857143;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-left: 180px;
  }
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777;
}
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
}
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}
blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #777;
}
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}
.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  text-align: right;
  border-right: 5px solid #eee;
  border-left: 0;
}
.blockquote-reverse footer:before,
blockquote.pull-right footer:before,
.blockquote-reverse small:before,
blockquote.pull-right small:before,
.blockquote-reverse .small:before,
blockquote.pull-right .small:before {
  content: '';
}
.blockquote-reverse footer:after,
blockquote.pull-right footer:after,
.blockquote-reverse small:after,
blockquote.pull-right small:after,
.blockquote-reverse .small:after,
blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}
address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143;
}
code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
}
kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: bold;
  box-shadow: none;
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}
table {
  background-color: transparent;
}
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: left;
}
th {
  text-align: left;
}
.ts-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.ts-table > thead > tr > th,
.ts-table > tbody > tr > th,
.ts-table > tfoot > tr > th,
.ts-table > thead > tr > td,
.ts-table > tbody > tr > td,
.ts-table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.ts-table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.ts-table > caption + thead > tr:first-child > th,
.ts-table > colgroup + thead > tr:first-child > th,
.ts-table > thead:first-child > tr:first-child > th,
.ts-table > caption + thead > tr:first-child > td,
.ts-table > colgroup + thead > tr:first-child > td,
.ts-table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.ts-table > tbody + tbody {
  border-top: 2px solid #ddd;
}
.ts-table .ts-table {
  background-color: #fff;
}
.ts-table-condensed > thead > tr > th,
.ts-table-condensed > tbody > tr > th,
.ts-table-condensed > tfoot > tr > th,
.ts-table-condensed > thead > tr > td,
.ts-table-condensed > tbody > tr > td,
.ts-table-condensed > tfoot > tr > td {
  padding: 5px;
}
.ts-table-bordered {
  border: 1px solid #ddd;
}
.ts-table-bordered > thead > tr > th,
.ts-table-bordered > tbody > tr > th,
.ts-table-bordered > tfoot > tr > th,
.ts-table-bordered > thead > tr > td,
.ts-table-bordered > tbody > tr > td,
.ts-table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}
.ts-table-bordered > thead > tr > th,
.ts-table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.ts-table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.ts-table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none;
}
.ts-table > thead > tr > td.active,
.ts-table > tbody > tr > td.active,
.ts-table > tfoot > tr > td.active,
.ts-table > thead > tr > th.active,
.ts-table > tbody > tr > th.active,
.ts-table > tfoot > tr > th.active,
.ts-table > thead > tr.active > td,
.ts-table > tbody > tr.active > td,
.ts-table > tfoot > tr.active > td,
.ts-table > thead > tr.active > th,
.ts-table > tbody > tr.active > th,
.ts-table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
.ts-table-hover > tbody > tr > td.active:hover,
.ts-table-hover > tbody > tr > th.active:hover,
.ts-table-hover > tbody > tr.active:hover > td,
.ts-table-hover > tbody > tr:hover > .active,
.ts-table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}
.ts-table > thead > tr > td.success,
.ts-table > tbody > tr > td.success,
.ts-table > tfoot > tr > td.success,
.ts-table > thead > tr > th.success,
.ts-table > tbody > tr > th.success,
.ts-table > tfoot > tr > th.success,
.ts-table > thead > tr.success > td,
.ts-table > tbody > tr.success > td,
.ts-table > tfoot > tr.success > td,
.ts-table > thead > tr.success > th,
.ts-table > tbody > tr.success > th,
.ts-table > tfoot > tr.success > th {
  background-color: #dff0d8;
}
.ts-table-hover > tbody > tr > td.success:hover,
.ts-table-hover > tbody > tr > th.success:hover,
.ts-table-hover > tbody > tr.success:hover > td,
.ts-table-hover > tbody > tr:hover > .success,
.ts-table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}
.ts-table > thead > tr > td.info,
.ts-table > tbody > tr > td.info,
.ts-table > tfoot > tr > td.info,
.ts-table > thead > tr > th.info,
.ts-table > tbody > tr > th.info,
.ts-table > tfoot > tr > th.info,
.ts-table > thead > tr.info > td,
.ts-table > tbody > tr.info > td,
.ts-table > tfoot > tr.info > td,
.ts-table > thead > tr.info > th,
.ts-table > tbody > tr.info > th,
.ts-table > tfoot > tr.info > th {
  background-color: #d9edf7;
}
.ts-table-hover > tbody > tr > td.info:hover,
.ts-table-hover > tbody > tr > th.info:hover,
.ts-table-hover > tbody > tr.info:hover > td,
.ts-table-hover > tbody > tr:hover > .info,
.ts-table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}
.ts-table > thead > tr > td.warning,
.ts-table > tbody > tr > td.warning,
.ts-table > tfoot > tr > td.warning,
.ts-table > thead > tr > th.warning,
.ts-table > tbody > tr > th.warning,
.ts-table > tfoot > tr > th.warning,
.ts-table > thead > tr.warning > td,
.ts-table > tbody > tr.warning > td,
.ts-table > tfoot > tr.warning > td,
.ts-table > thead > tr.warning > th,
.ts-table > tbody > tr.warning > th,
.ts-table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}
.ts-table-hover > tbody > tr > td.warning:hover,
.ts-table-hover > tbody > tr > th.warning:hover,
.ts-table-hover > tbody > tr.warning:hover > td,
.ts-table-hover > tbody > tr:hover > .warning,
.ts-table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}
.ts-table > thead > tr > td.danger,
.ts-table > tbody > tr > td.danger,
.ts-table > tfoot > tr > td.danger,
.ts-table > thead > tr > th.danger,
.ts-table > tbody > tr > th.danger,
.ts-table > tfoot > tr > th.danger,
.ts-table > thead > tr.danger > td,
.ts-table > tbody > tr.danger > td,
.ts-table > tfoot > tr.danger > td,
.ts-table > thead > tr.danger > th,
.ts-table > tbody > tr.danger > th,
.ts-table > tfoot > tr.danger > th {
  background-color: #f2dede;
}
.ts-table-hover > tbody > tr > td.danger:hover,
.ts-table-hover > tbody > tr > th.danger:hover,
.ts-table-hover > tbody > tr.danger:hover > td,
.ts-table-hover > tbody > tr:hover > .danger,
.ts-table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}
.ts-table-responsive {
  min-height: .01%;
  overflow-x: auto;
}
@media screen and (max-width: 767px) {
  .ts-table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
  .ts-table-responsive > .ts-table {
    margin-bottom: 0;
  }
  .ts-table-responsive > .ts-table > thead > tr > th,
  .ts-table-responsive > .ts-table > tbody > tr > th,
  .ts-table-responsive > .ts-table > tfoot > tr > th,
  .ts-table-responsive > .ts-table > thead > tr > td,
  .ts-table-responsive > .ts-table > tbody > tr > td,
  .ts-table-responsive > .ts-table > tfoot > tr > td {
    white-space: nowrap;
  }
  .ts-table-responsive > .ts-table-bordered {
    border: 0;
  }
  .ts-table-responsive > .ts-table-bordered > thead > tr > th:first-child,
  .ts-table-responsive > .ts-table-bordered > tbody > tr > th:first-child,
  .ts-table-responsive > .ts-table-bordered > tfoot > tr > th:first-child,
  .ts-table-responsive > .ts-table-bordered > thead > tr > td:first-child,
  .ts-table-responsive > .ts-table-bordered > tbody > tr > td:first-child,
  .ts-table-responsive > .ts-table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .ts-table-responsive > .ts-table-bordered > thead > tr > th:last-child,
  .ts-table-responsive > .ts-table-bordered > tbody > tr > th:last-child,
  .ts-table-responsive > .ts-table-bordered > tfoot > tr > th:last-child,
  .ts-table-responsive > .ts-table-bordered > thead > tr > td:last-child,
  .ts-table-responsive > .ts-table-bordered > tbody > tr > td:last-child,
  .ts-table-responsive > .ts-table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .ts-table-responsive > .ts-table-bordered > tbody > tr:last-child > th,
  .ts-table-responsive > .ts-table-bordered > tfoot > tr:last-child > th,
  .ts-table-responsive > .ts-table-bordered > tbody > tr:last-child > td,
  .ts-table-responsive > .ts-table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
input[type="search"] {
  box-sizing: border-box;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}
input[type="file"] {
  display: block;
}
input[type="range"] {
  display: block;
  width: 100%;
}
select[multiple],
select[size] {
  height: auto;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.ts-form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.ts-form-control:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
select::-moz-placeholder,
textarea::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="color"]::-moz-placeholder,
.ts-form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
select:-ms-input-placeholder,
textarea:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="color"]:-ms-input-placeholder,
.ts-form-control:-ms-input-placeholder {
  color: #999;
}
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="color"]::-webkit-input-placeholder,
.ts-form-control::-webkit-input-placeholder {
  color: #999;
}
select[disabled],
textarea[disabled],
input[type="text"][disabled],
input[type="password"][disabled],
input[type="number"][disabled],
input[type="email"][disabled],
input[type="url"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="color"][disabled],
.ts-form-control[disabled],
select[readonly],
textarea[readonly],
input[type="text"][readonly],
input[type="password"][readonly],
input[type="number"][readonly],
input[type="email"][readonly],
input[type="url"][readonly],
input[type="search"][readonly],
input[type="tel"][readonly],
input[type="color"][readonly],
.ts-form-control[readonly] {
  background-color: #eee;
  opacity: 1;
}
select[disabled],
textarea[disabled],
input[type="text"][disabled],
input[type="password"][disabled],
input[type="number"][disabled],
input[type="email"][disabled],
input[type="url"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="color"][disabled],
.ts-form-control[disabled] {
  cursor: not-allowed;
}
select::-ms-expand {
  background-color: transparent;
  border: 0;
}
textarea {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: none;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"],
  input[type="time"],
  input[type="datetime-local"],
  input[type="month"] {
    line-height: 34px;
  }
}
.radio,
.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.radio label,
.checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-top: 4px \9;
  margin-left: -20px;
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}
.radio-inline,
.checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
  cursor: not-allowed;
}
.radio-inline.disabled,
.checkbox-inline.disabled,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}
.radio.disabled label,
.checkbox.disabled label,
fieldset[disabled] .radio label,
fieldset[disabled] .checkbox label {
  cursor: not-allowed;
}
.ts-form-control-static {
  min-height: 34px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0;
}
.ts-help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}
.ts-btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.ts-btn:focus,
.ts-btn:active:focus,
.ts-btn.active:focus,
.ts-btn.focus,
.ts-btn:active.focus,
.ts-btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.ts-btn:hover,
.ts-btn:focus,
.ts-btn.focus {
  color: #333;
  text-decoration: none;
}
.ts-btn:active,
.ts-btn.active {
  background-image: none;
  outline: 0;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.ts-btn.disabled,
.ts-btn[disabled],
fieldset[disabled] .ts-btn {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  box-shadow: none;
  opacity: .65;
}
a.ts-btn.disabled,
fieldset[disabled] a.ts-btn {
  pointer-events: none;
}
.ts-btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.ts-btn-default:focus,
.ts-btn-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.ts-btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.ts-btn-default:active,
.ts-btn-default.active,
.open > .dropdown-toggle.ts-btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.ts-btn-default:active:hover,
.ts-btn-default.active:hover,
.open > .dropdown-toggle.ts-btn-default:hover,
.ts-btn-default:active:focus,
.ts-btn-default.active:focus,
.open > .dropdown-toggle.ts-btn-default:focus,
.ts-btn-default:active.focus,
.ts-btn-default.active.focus,
.open > .dropdown-toggle.ts-btn-default.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.ts-btn-default:active,
.ts-btn-default.active,
.open > .dropdown-toggle.ts-btn-default {
  background-image: none;
}
.ts-btn-default.disabled:hover,
.ts-btn-default[disabled]:hover,
fieldset[disabled] .ts-btn-default:hover,
.ts-btn-default.disabled:focus,
.ts-btn-default[disabled]:focus,
fieldset[disabled] .ts-btn-default:focus,
.ts-btn-default.disabled.focus,
.ts-btn-default[disabled].focus,
fieldset[disabled] .ts-btn-default.focus {
  background-color: #fff;
  border-color: #ccc;
}
.ts-btn-default .badge {
  color: #fff;
  background-color: #333;
}
.ts-btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.ts-btn-primary:focus,
.ts-btn-primary.focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
.ts-btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.ts-btn-primary:active,
.ts-btn-primary.active,
.open > .dropdown-toggle.ts-btn-primary {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.ts-btn-primary:active:hover,
.ts-btn-primary.active:hover,
.open > .dropdown-toggle.ts-btn-primary:hover,
.ts-btn-primary:active:focus,
.ts-btn-primary.active:focus,
.open > .dropdown-toggle.ts-btn-primary:focus,
.ts-btn-primary:active.focus,
.ts-btn-primary.active.focus,
.open > .dropdown-toggle.ts-btn-primary.focus {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}
.ts-btn-primary:active,
.ts-btn-primary.active,
.open > .dropdown-toggle.ts-btn-primary {
  background-image: none;
}
.ts-btn-primary.disabled:hover,
.ts-btn-primary[disabled]:hover,
fieldset[disabled] .ts-btn-primary:hover,
.ts-btn-primary.disabled:focus,
.ts-btn-primary[disabled]:focus,
fieldset[disabled] .ts-btn-primary:focus,
.ts-btn-primary.disabled.focus,
.ts-btn-primary[disabled].focus,
fieldset[disabled] .ts-btn-primary.focus {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.ts-btn-primary .badge {
  color: #337ab7;
  background-color: #fff;
}
.ts-btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.ts-btn-success:focus,
.ts-btn-success.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}
.ts-btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.ts-btn-success:active,
.ts-btn-success.active,
.open > .dropdown-toggle.ts-btn-success {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.ts-btn-success:active:hover,
.ts-btn-success.active:hover,
.open > .dropdown-toggle.ts-btn-success:hover,
.ts-btn-success:active:focus,
.ts-btn-success.active:focus,
.open > .dropdown-toggle.ts-btn-success:focus,
.ts-btn-success:active.focus,
.ts-btn-success.active.focus,
.open > .dropdown-toggle.ts-btn-success.focus {
  color: #fff;
  background-color: #398439;
  border-color: #255625;
}
.ts-btn-success:active,
.ts-btn-success.active,
.open > .dropdown-toggle.ts-btn-success {
  background-image: none;
}
.ts-btn-success.disabled:hover,
.ts-btn-success[disabled]:hover,
fieldset[disabled] .ts-btn-success:hover,
.ts-btn-success.disabled:focus,
.ts-btn-success[disabled]:focus,
fieldset[disabled] .ts-btn-success:focus,
.ts-btn-success.disabled.focus,
.ts-btn-success[disabled].focus,
fieldset[disabled] .ts-btn-success.focus {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.ts-btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}
.ts-btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.ts-btn-info:focus,
.ts-btn-info.focus {
  color: #fff;
  background-color: #31b0d5;
  border-color: #1b6d85;
}
.ts-btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.ts-btn-info:active,
.ts-btn-info.active,
.open > .dropdown-toggle.ts-btn-info {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.ts-btn-info:active:hover,
.ts-btn-info.active:hover,
.open > .dropdown-toggle.ts-btn-info:hover,
.ts-btn-info:active:focus,
.ts-btn-info.active:focus,
.open > .dropdown-toggle.ts-btn-info:focus,
.ts-btn-info:active.focus,
.ts-btn-info.active.focus,
.open > .dropdown-toggle.ts-btn-info.focus {
  color: #fff;
  background-color: #269abc;
  border-color: #1b6d85;
}
.ts-btn-info:active,
.ts-btn-info.active,
.open > .dropdown-toggle.ts-btn-info {
  background-image: none;
}
.ts-btn-info.disabled:hover,
.ts-btn-info[disabled]:hover,
fieldset[disabled] .ts-btn-info:hover,
.ts-btn-info.disabled:focus,
.ts-btn-info[disabled]:focus,
fieldset[disabled] .ts-btn-info:focus,
.ts-btn-info.disabled.focus,
.ts-btn-info[disabled].focus,
fieldset[disabled] .ts-btn-info.focus {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.ts-btn-info .badge {
  color: #5bc0de;
  background-color: #fff;
}
.ts-btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.ts-btn-warning:focus,
.ts-btn-warning.focus {
  color: #fff;
  background-color: #ec971f;
  border-color: #985f0d;
}
.ts-btn-warning:hover {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.ts-btn-warning:active,
.ts-btn-warning.active,
.open > .dropdown-toggle.ts-btn-warning {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.ts-btn-warning:active:hover,
.ts-btn-warning.active:hover,
.open > .dropdown-toggle.ts-btn-warning:hover,
.ts-btn-warning:active:focus,
.ts-btn-warning.active:focus,
.open > .dropdown-toggle.ts-btn-warning:focus,
.ts-btn-warning:active.focus,
.ts-btn-warning.active.focus,
.open > .dropdown-toggle.ts-btn-warning.focus {
  color: #fff;
  background-color: #d58512;
  border-color: #985f0d;
}
.ts-btn-warning:active,
.ts-btn-warning.active,
.open > .dropdown-toggle.ts-btn-warning {
  background-image: none;
}
.ts-btn-warning.disabled:hover,
.ts-btn-warning[disabled]:hover,
fieldset[disabled] .ts-btn-warning:hover,
.ts-btn-warning.disabled:focus,
.ts-btn-warning[disabled]:focus,
fieldset[disabled] .ts-btn-warning:focus,
.ts-btn-warning.disabled.focus,
.ts-btn-warning[disabled].focus,
fieldset[disabled] .ts-btn-warning.focus {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.ts-btn-warning .badge {
  color: #f0ad4e;
  background-color: #fff;
}
.ts-btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.ts-btn-danger:focus,
.ts-btn-danger.focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #761c19;
}
.ts-btn-danger:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.ts-btn-danger:active,
.ts-btn-danger.active,
.open > .dropdown-toggle.ts-btn-danger {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.ts-btn-danger:active:hover,
.ts-btn-danger.active:hover,
.open > .dropdown-toggle.ts-btn-danger:hover,
.ts-btn-danger:active:focus,
.ts-btn-danger.active:focus,
.open > .dropdown-toggle.ts-btn-danger:focus,
.ts-btn-danger:active.focus,
.ts-btn-danger.active.focus,
.open > .dropdown-toggle.ts-btn-danger.focus {
  color: #fff;
  background-color: #ac2925;
  border-color: #761c19;
}
.ts-btn-danger:active,
.ts-btn-danger.active,
.open > .dropdown-toggle.ts-btn-danger {
  background-image: none;
}
.ts-btn-danger.disabled:hover,
.ts-btn-danger[disabled]:hover,
fieldset[disabled] .ts-btn-danger:hover,
.ts-btn-danger.disabled:focus,
.ts-btn-danger[disabled]:focus,
fieldset[disabled] .ts-btn-danger:focus,
.ts-btn-danger.disabled.focus,
.ts-btn-danger[disabled].focus,
fieldset[disabled] .ts-btn-danger.focus {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.ts-btn-danger .badge {
  color: #d9534f;
  background-color: #fff;
}
.ts-btn-link {
  font-weight: normal;
  color: #337ab7;
  border-radius: 0;
}
.ts-btn-link,
.ts-btn-link:active,
.ts-btn-link.active,
.ts-btn-link[disabled],
fieldset[disabled] .ts-btn-link {
  background-color: transparent;
  box-shadow: none;
}
.ts-btn-link,
.ts-btn-link:hover,
.ts-btn-link:focus,
.ts-btn-link:active {
  border-color: transparent;
}
.ts-btn-link:hover,
.ts-btn-link:focus {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent;
}
.ts-btn-link[disabled]:hover,
fieldset[disabled] .ts-btn-link:hover,
.ts-btn-link[disabled]:focus,
fieldset[disabled] .ts-btn-link:focus {
  color: #777;
  text-decoration: none;
}
.ts-btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.ts-btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.ts-btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.ts-btn-block {
  display: block;
  width: 100%;
}
.ts-btn-block + .ts-btn-block {
  margin-top: 5px;
}
input[type="submit"].ts-btn-block,
input[type="reset"].ts-btn-block,
input[type="button"].ts-btn-block {
  width: 100%;
}
/*!
 * Waves v0.7.5
 * http://fian.my.id/Waves 
 * 
 * Copyright 2014-2016 Alfiana E. Sibuea and other contributors 
 * Released under the MIT license 
 * https://github.com/fians/Waves/blob/master/LICENSE 
 */
.waves-effect {
  position: relative;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  -webkit-tap-highlight-color: transparent;
}
.waves-effect .waves-ripple {
  position: absolute;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  pointer-events: none;
  background: rgba(0, 0, 0, .2);
  background:         radial-gradient(rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .3) 40%, rgba(0, 0, 0, .4) 50%, rgba(0, 0, 0, .5) 60%, rgba(255, 255, 255, 0) 70%);
  border-radius: 50%;
  opacity: 0;
  transition: all .5s ease-out;
  transition-property:         transform, opacity;
  transform: scale(0) translate(0, 0);
}
.waves-effect.waves-light .waves-ripple {
  background: rgba(255, 255, 255, .4);
  background:         radial-gradient(rgba(255, 255, 255, .2) 0, rgba(255, 255, 255, .3) 40%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .5) 60%, rgba(255, 255, 255, 0) 70%);
}
.waves-effect.waves-classic .waves-ripple {
  background: rgba(0, 0, 0, .2);
}
.waves-effect.waves-classic.waves-light .waves-ripple {
  background: rgba(255, 255, 255, .4);
}
.waves-notransition {
  transition: none !important;
}
.waves-button,
.waves-circle {
  transform: translateZ(0);

  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}
.waves-button,
.waves-button:hover,
.waves-button:visited,
.waves-button-input {
  z-index: 1;
  font-size: 1em;
  line-height: 1em;
  color: inherit;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
}
.waves-button {
  padding: .85em 1.1em;
  border-radius: .2em;
}
.waves-button-input {
  padding: .85em 1.1em;
  margin: 0;
}
.waves-input-wrapper {
  vertical-align: bottom;
  border-radius: .2em;
}
.waves-input-wrapper.waves-button {
  padding: 0;
}
.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.waves-circle {
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  border-radius: 50%;
}
.waves-float {
  box-shadow: 0 1px 1.5px 1px rgba(0, 0, 0, .12);
  transition: all 300ms;

  -webkit-mask-image: none;
}
.waves-float:active {
  box-shadow: 0 8px 20px 1px rgba(0, 0, 0, .3);
}
.waves-block {
  display: block;
}
/**
 * Components
 *
 */
.frone-nav li.menu-item.menu-item-has-children > a:after,
.md-icon,
.material-icons {
  /* Preferred icon size */
  display: inline-block;
  font-family: 'Material Icons';
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;

  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
.md-icon.md-1x,
.material-icons.md-1x {
  font-size: 1em;
}
.md-icon.md-2x,
.material-icons.md-2x {
  font-size: 2em;
}
.md-icon.md-3x,
.material-icons.md-3x {
  font-size: 3em;
}
.md-icon.md-4x,
.material-icons.md-4x {
  font-size: 4em;
}
.md-icon.md-5x,
.material-icons.md-5x {
  font-size: 5em;
}
.md-icon.icon-inherit,
.material-icons.icon-inherit,
.fa.icon-inherit {
  font-size: inherit;
  line-height: inherit;
}
.md-icon,
.material-icons,
.fa {
  vertical-align: middle;
}
.fa.fa-1x {
  font-size: 1em;
}
#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  padding: 30px 0;
  padding: 3rem 0;
  background-color: #298fff;
  transition: top .3s ease;
}
.admin-bar #header {
  top: 32px;
}
@media (max-width: 991px) {
  #header {
    padding: 1rem 0;
  }
}
@media (max-width: 782px) {
  .admin-bar #header {
    top: 46px;
  }
}
#header.sticky-header {
  top: 0 !important;
}
.admin-bar #header.sticky-header {
  top: 32px !important;
}
@media (max-width: 767px) {
  .admin-bar #header.sticky-header {
    top: 0 !important;
  }
}
@media (min-width: 767px) and (max-width: 782px) {
  .admin-bar #header.sticky-header {
    top: 46px !important;
  }
}
#logo {
  float: left;
  margin-right: 30px;
  margin-right: 3rem;
  margin-left: 30px;
  margin-left: 3rem;
}
@media (max-width: 1199px) {
  #logo {
    margin-left: 0;
  }
}
#logo h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 44px;
  line-height: 4.4rem;
  text-transform: uppercase;
}
#logo .md-icon {
  margin: -6px 0 0;
  margin: -.6rem 0 0;
  font-size: 36px;
  font-size: 3.6rem;
}
#logo a {
  display: block;
  color: #fff;
}
#logo a:focus,
#logo a:hover {
  text-decoration: none;
}
.default-colored-logo #logo .white-logo {
  display: none;
}
.default-colored-logo #logo .colored-logo {
  display: block;
}
#logo .white2x-logo,
#logo .colored2x-logo,
#logo .colored-logo {
  display: none;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .retina-white-logo #logo .colored-logo,
  .retina-white-logo #logo .colored2x-logo,
  .retina-white-logo #logo .white-logo {
    display: none;
  }
  .retina-white-logo #logo .white2x-logo {
    display: block;
  }
  .retina-colored-logo.default-colored-logo #logo .white-logo,
  .retina-colored-logo.default-colored-logo #logo .white2x-logo,
  .retina-colored-logo.default-colored-logo #logo .colored-logo {
    display: none;
  }
  .retina-colored-logo.default-colored-logo #logo .colored2x-logo {
    display: block;
  }
}
.frone-nav-container {
  float: left;
}
@media (max-width: 991px) {
  .frone-nav-container {
    display: none;
  }
}
.touchable-device .frone-nav-container {
  display: none;
}
.frone-nav {
  padding: 0;
  margin: 0;
  overflow: hidden;
  list-style: none;
}
.frone-nav:before,
.frone-nav:after {
  display: table;
  content: " ";
}
.frone-nav:after {
  clear: both;
}
.frone-nav:before,
.frone-nav:after {
  display: table;
  content: " ";
}
.frone-nav:after {
  clear: both;
}
.frone-nav:hover {
  overflow: visible;
}
.frone-nav:hover .frone-mega-menu.mega-col-full > .sub-menu {
  position: fixed;
  right: 30px;
  right: 3rem;
  left: 30px;
  left: 3rem;
  width: auto !important;
}
@media (max-width: 1199px) {
  .frone-nav:hover .frone-mega-menu.mega-col-full > .sub-menu {
    right: 1.5rem;
    left: 1.5rem;
  }
}
.frone-nav li.menu-item > a {
  position: relative;
  display: block;
  max-width: 360px;
  max-width: 36rem;
  padding: 8px 20px;
  padding: .8rem 2rem;
  overflow: hidden;
  font-size: 13px;
  font-size: 1.3rem;
  color: #828c8e;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.frone-nav li.menu-item > a:focus,
.frone-nav li.menu-item > a:hover {
  text-decoration: none;
}
.frone-nav li.menu-item:hover > .sub-menu {
  visibility: visible;
  animation-name: froneMenufadeIn;
}
.frone-nav > li.menu-item {
  position: relative;
  float: left;
}
.frone-nav > li.menu-item > a {
  padding: 12px;
  padding: 1.2rem;
  font-size: inherit;
  font-weight: 700;
  color: #fff;
  transition: opacity .2s ease;
}
.frone-nav > li.menu-item.menu-item-has-children > a:after {
  max-width: 24px;
  max-width: 2.4rem;
  padding-left: 3px;
  font-size: inherit;
  vertical-align: middle;
  content: "arrow_drop_down";
}
.frone-nav > li.menu-item:hover > a,
.frone-nav > li.menu-item.current-menu-ancestor > a,
.frone-nav > li.menu-item.current-menu-parent > a,
.frone-nav > li.menu-item.current-menu-item > a {
  opacity: .7;
}
.frone-nav .sub-menu {
  position: absolute;
  z-index: 9999;
  min-width: 180px;
  min-width: 18rem;
  padding: 15px 0;
  padding: 1.5rem 0;
  margin: 0;
  list-style: none;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
  animation-name: froneMenufadeOut;
  animation-duration: .3s;
  animation-fill-mode: both;
}
.frone-nav .sub-menu li.menu-item.menu-item-has-children > a:after {
  position: absolute;
  top: 50%;
  right: 10px;
  right: 1rem;
  margin-top: -6px;
  margin-top: -.6rem;
  font-size: inherit;
  content: "arrow_drop_down";
  transform: rotate(-90deg);
}
.frone-nav .sub-menu li.menu-item a {
  transition: background-color .2s ease;
}
.frone-nav .sub-menu li.menu-item:hover > a,
.frone-nav .sub-menu li.menu-item.current-menu-ancestor > a,
.frone-nav .sub-menu li.menu-item.current-menu-parent > a,
.frone-nav .sub-menu li.menu-item.current-menu-item > a {
  background-color: #ebebeb;
}
.frone-nav .sub-menu .sub-menu {
  left: 100%;
  margin-top: -34px;
  margin-top: -3.4rem;
  margin-left: -3px;
  margin-left: -.3rem;
}
.frone-nav .sub-menu .seperate-after-menu-item {
  margin-bottom: 5px;
  margin-bottom: .5rem;
  border-bottom: 1px solid #ebeef2;
}
.frone-nav .sub-menu .seperate-after-menu-item:after {
  display: block;
  height: 5px;
  height: .5rem;
  content: "";
}
.frone-nav .frone-mega-menu > .sub-menu {
  width: auto;
}
.frone-nav .frone-mega-menu > .sub-menu li.menu-item.menu-item-has-children > a:after {
  content: none;
}
.frone-nav .frone-mega-menu > .sub-menu > li.menu-item {
  display: table-cell;
}
.frone-nav .frone-mega-menu > .sub-menu > li.menu-item > a {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: transparent !important;
}
.frone-nav .frone-mega-menu > .sub-menu > li.menu-item .sub-menu {
  position: relative;
  top: auto;
  right: auto;
  left: auto;
  display: block;
  padding: 0;
  margin: 0;
  box-shadow: none;
  opacity: 1;
  animation-name: none;
}
.frone-nav .frone-mega-menu.mega-col-full > .sub-menu > li.menu-item {
  display: block;
  float: left;
  width: 20%;
}
.frone-nav .frone-mega-menu.mega-col-full .sub-menu > li.menu-item > a {
  max-width: 100%;
}
.frone-nav .frone-mega-menu.mega-col-2 > .sub-menu {
  width: 480px;
  width: 48rem;
}
.frone-nav .frone-mega-menu.mega-col-2 > .sub-menu > li.menu-item {
  display: block;
  float: left;
  width: 50%;
}
.frone-nav .frone-mega-menu.mega-col-3 > .sub-menu {
  width: 720px;
  width: 72rem;
}
.frone-nav .frone-mega-menu.mega-col-3 > .sub-menu > li.menu-item {
  display: block;
  float: left;
  width: 33.333%;
}
.frone-nav .frone-mega-menu.mega-col-4 > .sub-menu {
  width: 960px;
  width: 96rem;
}
.frone-nav .frone-mega-menu.mega-col-4 > .sub-menu > li.menu-item {
  display: block;
  float: left;
  width: 25%;
}
.frone-nav .frone-menu-icon {
  margin-top: -5px;
  margin-top: -.5rem;
  margin-right: 5px;
  margin-right: .5rem;
  font-size: 21px;
  font-size: 2.1rem;
}
.mobile-menu-active {
  overflow: hidden;
}
.frone-mobile-sidemenu {
  position: relative;
  display: none;
  float: left;
}
@media (max-width: 991px) {
  .frone-mobile-sidemenu {
    display: block;
  }
}
.touchable-device .frone-mobile-sidemenu {
  display: block;
}
.frone-mobile-menu-btn {
  display: block;
  width: 44px;
  width: 4.4rem;
  height: 44px;
  height: 4.4rem;
  margin-right: 10px;
  margin-right: 1rem;
  margin-left: -10px;
  margin-left: -1rem;
  line-height: 44px;
  line-height: 4.4rem;
  color: #fff;
  text-align: center;
  border-radius: 4.4rem;
}
.frone-mobile-menu-btn:focus,
.frone-mobile-menu-btn:hover {
  color: #fff;
  text-decoration: none;
}
.frone-mobile-nav-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: none;
  max-width: 320px;
  max-width: 32rem;
  margin: 0;
  margin-left: -320px;
  margin-left: -32rem;
  overflow: auto;
  background-color: #fff;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .4);
  animation-duration: .4s;
  animation-fill-mode: both;
}
.mobile-menu-passive .frone-mobile-nav-container {
  display: block;
  margin-left: 0;
  animation-name: froneMenufadeOutLeft;
}
.mobile-menu-active .frone-mobile-nav-container {
  display: block;
  margin-left: 0;
  animation-name: froneMenufadeInLeft;
}
.admin-bar .frone-mobile-nav-container {
  top: 32px;
}
@media (max-width: 320px) {
  .frone-mobile-nav-container {
    max-width: 24rem;
  }
}
@media (max-width: 767px) {
  .admin-bar .frone-mobile-nav-container {
    top: 46px;
  }
}
@media (min-width: 767px) and (max-width: 782px) {
  .admin-bar .frone-mobile-nav-container {
    top: 46px;
  }
}
.frone-mobile-nav {
  padding: 15px 0;
  padding: 1.5rem 0;
  list-style: none;
}
.frone-mobile-nav li.menu-item {
  position: relative;
}
.frone-mobile-nav li.menu-item.menu-item-has-children > a {
  padding-right: 52px;
  padding-right: 5.2rem;
}
.frone-mobile-nav li.menu-item:hover > a,
.frone-mobile-nav li.menu-item.current-menu-ancestor > a,
.frone-mobile-nav li.menu-item.current-menu-parent > a,
.frone-mobile-nav li.menu-item.current-menu-item > a {
  background-color: #ebebeb;
}
.frone-mobile-nav li.menu-item > a {
  display: block;
  padding: 8px 20px;
  padding: .8rem 2rem;
  color: #828c8e;
}
.frone-mobile-nav li.menu-item > a:hover,
.frone-mobile-nav li.menu-item > a:focus {
  text-decoration: none;
}
.frone-mobile-nav li.menu-item .mobile-sub-menu-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  width: 3.6rem;
  height: 36px;
  height: 3.6rem;
  margin: 0 4px;
  margin: 0 .4rem;
  font-size: inherit;
  line-height: 36px;
  line-height: 3.6rem;
  text-align: center;
  cursor: pointer;
  border-radius: 3.6rem;
  opacity: .4;
}
.frone-mobile-nav > li.menu-item > a {
  padding: 12px 20px;
  padding: 1.2rem 2rem;
  color: #3d4040;
}
.frone-mobile-nav > li.menu-item > .mobile-sub-menu-btn {
  margin: 4px;
  margin: .4rem;
}
.frone-mobile-nav .sub-menu {
  display: none;
  padding: 15px 0;
  padding: 1.5rem 0;
  margin: 0;
  list-style: none;
  background-color: #f8f8f8;
}
.frone-mobile-nav .sub-menu .sub-menu {
  margin: 10px 0;
  margin: 1rem 0;
  background-color: #f2f2f2;
}
.frone-mobile-nav .seperate-after-menu-item {
  margin-bottom: 5px;
  margin-bottom: .5rem;
  border-bottom: 1px solid #ebeef2;
}
.frone-mobile-nav .seperate-after-menu-item:after {
  display: block;
  height: 5px;
  height: .5rem;
  content: "";
}
.frone-mobile-nav .frone-menu-icon {
  margin-top: -4px;
  margin-top: -.4rem;
  margin-right: 20px;
  margin-right: 2rem;
  font-size: 22px;
  font-size: 2.2rem;
  opacity: .7;
}
@media (max-width: 767px) {
  .admin-bar .sticky-header .frone-mobile-nav-container {
    top: 0;
  }
}
.frone-mobile-nav-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, .4);
}
.mobile-menu-active .frone-mobile-nav-bg {
  display: block;
}
.frone-extra-nav-container {
  float: right;
  margin-right: 30px;
  margin-right: 3rem;
  margin-left: 30px;
  margin-left: 3rem;
}
.frone-extra-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}
.frone-extra-menu-item {
  position: relative;
  display: inline-block;
  min-width: 44px;
  min-width: 4.4rem;
  height: 44px;
  height: 4.4rem;
  line-height: 44px;
  line-height: 4.4rem;
  color: #fff;
  text-align: center;
}
.frone-extra-menu-item > a {
  display: inline-block;
  color: #fff;
}
.frone-extra-menu-item > a:focus,
.frone-extra-menu-item > a:hover {
  text-decoration: none;
}
.frone-extra-menu-item .badge {
  position: absolute;
  right: 0;
  bottom: 2px;
  width: 18px;
  width: 1.8rem;
  height: 18px;
  height: 1.8rem;
  padding: 0;
  line-height: 18px;
  line-height: 1.8rem;
  text-align: center;
}
@keyframes froneMenufadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, 5%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes froneMenufadeOut {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
    transform: translate3d(0, 5%, 0);
  }
}
@keyframes froneMenufadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-20%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes froneMenufadeOutLeft {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes froneMenufadeInRight {
  from {
    opacity: 0;
    transform: translate3d(20%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes froneMenufadeOutRight {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}
.ts-breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.ts-breadcrumb > li {
  display: inline-block;
}
.ts-breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}
.ts-breadcrumb > .active {
  color: #777;
}
.ts-thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border .2s ease-in-out;
}
.ts-thumbnail > img,
.ts-thumbnail a > img {
  margin-right: auto;
  margin-left: auto;
}
a.ts-thumbnail:hover,
a.ts-thumbnail:focus,
a.ts-thumbnail.active {
  border-color: #337ab7;
}
.ts-thumbnail .ts-caption {
  padding: 9px;
  color: #333;
}
.ts-alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.ts-alert h4 {
  margin-top: 0;
  color: inherit;
}
.ts-alert .ts-alert-link {
  font-weight: bold;
}
.ts-alert > p,
.ts-alert > ul {
  margin-bottom: 0;
}
.ts-alert > p + p {
  margin-top: 5px;
}
.ts-alert-dismissable,
.ts-alert-dismissible {
  padding-right: 35px;
}
.ts-alert-dismissable .close,
.ts-alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.ts-alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.ts-alert-success hr {
  border-top-color: #c9e2b3;
}
.ts-alert-success .alert-link {
  color: #2b542c;
}
.ts-alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.ts-alert-info hr {
  border-top-color: #a6e1ec;
}
.ts-alert-info .alert-link {
  color: #245269;
}
.ts-alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.ts-alert-warning hr {
  border-top-color: #f7e1b5;
}
.ts-alert-warning .alert-link {
  color: #66512c;
}
.ts-alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.ts-alert-danger hr {
  border-top-color: #e4b9c0;
}
.ts-alert-danger .alert-link {
  color: #843534;
}
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
  padding-bottom: 75%;
}
.fade {
  opacity: 0;
  transition: opacity .15s linear;
}
.fade.in {
  opacity: 1;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
tr.collapse.in {
  display: table-row;
}
tbody.collapse.in {
  display: table-row-group;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition-timing-function: ease;
  transition-duration: .35s;
  transition-property: height, visibility;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}
.badge:empty {
  display: none;
}
.btn .badge {
  position: relative;
  top: -1px;
}
.btn-xs .badge,
.btn-group-xs > .btn .badge {
  top: 0;
  padding: 1px 5px;
}
a.badge:hover,
a.badge:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #337ab7;
  background-color: #fff;
}
.list-group-item > .badge {
  float: right;
}
.list-group-item > .badge + .badge {
  margin-right: 5px;
}
.nav-pills > li > a > .badge {
  margin-left: 3px;
}
/**
 * Components w/ JavaScript
 *
 */
.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  transition:         transform .3s ease-out;
  transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  filter: alpha(opacity=0);
  opacity: 0;

  line-break: auto;
}
.tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9;
}
.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}
.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}
.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}
.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-left .tooltip-arrow {
  right: 5px;
  bottom: 0;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
/**
 * Utilities
 *
 */
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}
.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
.wp-caption,
.wp-caption-text,
.sticky,
.gallery-caption,
.bypostauthor,
.alignright,
.alignleft,
.aligncenter {
  outline: 0;
}
img {
  max-width: 100%;
  height: auto;
}
figure {
  max-width: 100%;
}
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table !important;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
