/*!
 * Frone Theme v1.0.0 https://frone.themesama.com
 * Copyright 2017 Themesama
 */

/*
Adding support for languages written in a Right To Left (RTL) direction is easy,
it's just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.

https://codex.wordpress.org/Right-to-Left_Language_Support
*/
/* Reset */
body {
  direction: rtl;
  unicode-bidi: embed;
}
th {
  text-align: right;
}
/* Accessibility */
.screen-reader-text:focus {
  right: 5px;
  left: auto;
}
#logo {
  float: right;
}
@media (max-width: 1199px) {
  #logo {
    margin-right: 0;
    margin-left: 30px;
  }
}
.frone-nav-container {
  float: right;
}
.frone-nav > li.menu-item {
  float: right;
}
.frone-nav.menu-item-has-children > a:after {
  padding-right: 3px;
  padding-left: auto;
}
.frone-nav .sub-menu .sub-menu {
  right: 100%;
  left: auto;
}
.frone-nav .sub-menu li.menu-item.menu-item-has-children > a:after {
  right: auto;
  left: 16px;
  left: 16px;
  left: 16px;
  left: 16px;
  left: 16px;
  left: 16px;
  left: 16px;
  left: 16px;
  left: 16px;
  left: 16px;
  left: 16px;
  left: 16px;
  left: 16px;
  left: 16px;
  left: 16px;
  left: 16px;
  left: 16px;
  left: 16px;
  left: 16px;
  left: 16px;
  left: 16px;
  left: 16px;
  left: 16px;
  left: 16px;
  left: 16px;
  left: 16px;
  left: 16px;
  left: 1rem;
  content: "arrow_drop_down";
  transform: rotate(90deg);
}
.frone-nav .frone-menu-icon {
  margin-right: auto;
  margin-left: 8px;
  margin-left: 8px;
  margin-left: 8px;
  margin-left: 8px;
  margin-left: 8px;
  margin-left: 8px;
  margin-left: 8px;
  margin-left: 8px;
  margin-left: 8px;
  margin-left: 8px;
  margin-left: 8px;
  margin-left: 8px;
  margin-left: 8px;
  margin-left: 8px;
  margin-left: 8px;
  margin-left: 8px;
  margin-left: 8px;
  margin-left: 8px;
  margin-left: 8px;
  margin-left: 8px;
  margin-left: 8px;
  margin-left: 8px;
  margin-left: 8px;
  margin-left: 8px;
  margin-left: 8px;
  margin-left: 8px;
  margin-left: 8px;
  margin-left: .5rem;
}
.frone-mobile-sidemenu {
  float: right;
}
.frone-mobile-menu-btn {
  margin-right: -16px;
  margin-right: -16px;
  margin-right: -16px;
  margin-right: -16px;
  margin-right: -16px;
  margin-right: -16px;
  margin-right: -16px;
  margin-right: -16px;
  margin-right: -16px;
  margin-right: -16px;
  margin-right: -16px;
  margin-right: -16px;
  margin-right: -16px;
  margin-right: -16px;
  margin-right: -16px;
  margin-right: -16px;
  margin-right: -16px;
  margin-right: -16px;
  margin-right: -16px;
  margin-right: -16px;
  margin-right: -16px;
  margin-right: -16px;
  margin-right: -16px;
  margin-right: -16px;
  margin-right: -16px;
  margin-right: -16px;
  margin-right: -16px;
  margin-right: -1rem;
  margin-left: 16px;
  margin-left: 16px;
  margin-left: 16px;
  margin-left: 16px;
  margin-left: 16px;
  margin-left: 16px;
  margin-left: 16px;
  margin-left: 16px;
  margin-left: 16px;
  margin-left: 16px;
  margin-left: 16px;
  margin-left: 16px;
  margin-left: 16px;
  margin-left: 16px;
  margin-left: 16px;
  margin-left: 16px;
  margin-left: 16px;
  margin-left: 16px;
  margin-left: 16px;
  margin-left: 16px;
  margin-left: 16px;
  margin-left: 16px;
  margin-left: 16px;
  margin-left: 16px;
  margin-left: 16px;
  margin-left: 16px;
  margin-left: 16px;
  margin-left: 1rem;
}
.frone-mobile-nav-container {
  margin-right: -512px;
  margin-right: -512px;
  margin-right: -512px;
  margin-right: -512px;
  margin-right: -512px;
  margin-right: -512px;
  margin-right: -512px;
  margin-right: -512px;
  margin-right: -512px;
  margin-right: -512px;
  margin-right: -512px;
  margin-right: -512px;
  margin-right: -512px;
  margin-right: -512px;
  margin-right: -512px;
  margin-right: -512px;
  margin-right: -512px;
  margin-right: -512px;
  margin-right: -512px;
  margin-right: -512px;
  margin-right: -512px;
  margin-right: -512px;
  margin-right: -512px;
  margin-right: -512px;
  margin-right: -512px;
  margin-right: -512px;
  margin-right: -512px;
  margin-right: -32rem;
  margin-left: 0;
}
.mobile-menu-passive .frone-mobile-nav-container {
  margin-right: 0;
  animation-name: froneMenufadeOutRight;
}
.mobile-menu-active .frone-mobile-nav-container {
  margin-right: 0;
  animation-name: froneMenufadeInRight;
}
.frone-mobile-nav li.menu-item.menu-item-has-children > a {
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 32px;
  padding-right: 2rem;
  padding-left: 83.2px;
  padding-left: 83.2px;
  padding-left: 83.2px;
  padding-left: 83.2px;
  padding-left: 83.2px;
  padding-left: 83.2px;
  padding-left: 83.2px;
  padding-left: 83.2px;
  padding-left: 83.2px;
  padding-left: 83.2px;
  padding-left: 83.2px;
  padding-left: 83.2px;
  padding-left: 83.2px;
  padding-left: 83.2px;
  padding-left: 83.2px;
  padding-left: 83.2px;
  padding-left: 83.2px;
  padding-left: 83.2px;
  padding-left: 83.2px;
  padding-left: 83.2px;
  padding-left: 83.2px;
  padding-left: 83.2px;
  padding-left: 83.2px;
  padding-left: 83.2px;
  padding-left: 83.2px;
  padding-left: 83.2px;
  padding-left: 83.2px;
  padding-left: 5.2rem;
}
.frone-mobile-nav li.menu-item .mobile-sub-menu-btn {
  right: auto;
  left: 0;
}
.frone-mobile-nav .frone-menu-icon {
  margin-right: 0;
  margin-left: 35.2px;
  margin-left: 35.2px;
  margin-left: 35.2px;
  margin-left: 35.2px;
  margin-left: 35.2px;
  margin-left: 35.2px;
  margin-left: 35.2px;
  margin-left: 35.2px;
  margin-left: 35.2px;
  margin-left: 35.2px;
  margin-left: 35.2px;
  margin-left: 35.2px;
  margin-left: 35.2px;
  margin-left: 35.2px;
  margin-left: 35.2px;
  margin-left: 35.2px;
  margin-left: 35.2px;
  margin-left: 35.2px;
  margin-left: 35.2px;
  margin-left: 35.2px;
  margin-left: 35.2px;
  margin-left: 35.2px;
  margin-left: 35.2px;
  margin-left: 35.2px;
  margin-left: 35.2px;
  margin-left: 35.2px;
  margin-left: 35.2px;
  margin-left: 2.2rem;
}
@keyframes froneMenufadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, 5%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes froneMenufadeOut {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
    transform: translate3d(0, 5%, 0);
  }
}
@keyframes froneMenufadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-20%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes froneMenufadeOutLeft {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes froneMenufadeInRight {
  from {
    opacity: 0;
    transform: translate3d(20%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes froneMenufadeOutRight {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}
