// Selector
.frone-nav li.menu-item.menu-item-has-children > a:after,
.md-icon,
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  //vertical-align: top;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

// Sizes
.md-icon,
.material-icons {
  &.md-1x { font-size: 1em; }
  &.md-2x { font-size: 2em; }
  &.md-3x { font-size: 3em; }
  &.md-4x { font-size: 4em; }
  &.md-5x { font-size: 5em; }
}

.md-icon,
.material-icons,
.fa {
  &.icon-inherit {
    font-size: inherit;
    line-height: inherit;
  }
}

.md-icon,
.material-icons,
.fa {
  vertical-align: middle;
}

.fa.fa-1x {
  font-size: 1em;
}